@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}

#search {
    background: url(../img/index/submit1_u18_.png) no-repeat;
    height: 35px;
    width: 37px;
}

.header_main {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.header_list a{
	height: 67px;	
	}
.YYLogo {
    cursor: pointer;
    width: 150px;
    margin-top: 4px;
}

.YYLogo1 {
    vertical-align: central;
    width: 45px;
    height: 45px;
}

.YYLogo2 {
    vertical-align: central;
    width: 100px;
    height: 23px;
}

.header_list {
    font-size: 20px;
    margin-top: 2px;
    width: 300px;
    position: absolute;
    left: 260px;
}

.header_search {
    position: absolute;
    left: 700px;
}

.header_button {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    right: 10px;
}
.textcolor_red {
	color: #C33;
}
.textcolor_orange {
	color:#CC3;
}
.textcolor_bule {
	color: #09F;	
	}
.textcolot_white {
	color: #FFF;	
	}
.carousel-inner {
	width: 1280px;
	height: 402px;	
	}
.aside {
	padding-top: 30px;
	padding-right: 20px;
	width: 350px;
	float: right;
}
.top100-wrapper {
	margin-top: 120px;	
	}
.list-group-item {
	text-decoration: none;
	border: none;
}
.panel-heading {
	background-image: url(../img/index/header_u0.png);
	}
.ranking-top-left {
	width: 120px;
}
.ranking-top-num {
	display: block;
	float: right;
	font-size: 30px;
	color:#C00;
}
.ranking-top-right-main{
	width: 150px;
	padding-left: 30px;
	margin-top: -60px;
	float: right;
}
.ranking-top-movie-name {
	font-size: 18px;
	color: #333;
}
.ranking-index {
	font-size: 18px; 	
	color:#666;
}
.ranking-movie-name {
	font-size: 16px;
	color: #333;
	padding-left: 5px;	
}
.ranking-num-info {
	display: block;
	float: right;
	color: #C00;	
	padding-top: 2px;
}
.ranking-img {
	width: 120px;
	height: 80px;	
	}
.panel-more {
	display:block;
	padding-top: 10px; 
	float: right;
	}
.movie-grid {
	width: 900px;
	height: 700px;
	margin-top:30px;
	margin-left: 10px;	
	}
.actived {
	color: #C33;	
	}
a {
	color: #666;
	text-decoration: none;
}
a:hover{
	text-decoration: none;	
	}
