@charset "utf-8";
.header-placeholder {
	height: 60px;
	width: 100%;
	margin-top: 25px;
	background-color: #333;	
	position: absolute;
}
.subnav {
	margin: 0 auto;
	width: 1280px;
	color: #FFF;
}
.subnav-list {
	margin-left: 460px;
	list-style-type: none;
	font-size: 16px;
	color: #FFF;
}
.subnav-item {
	display: block;
	width:120px;  
	height:30px; 
	text-align:center;
	line-height:40px;	
	float: left; 
	}
.list-link {
	color: #CCC;
	text-decoration: none;	
	}
.subnav a:hover {
	color: #C33;
	text-decoration: none;	
	}
.tags-panel {
	width: 1000px;
	height: 250px;
	margin-top: 110px;
	margin-left: 140px;
	border-style: solid;
	border-width: thin;
	position: absolute;	
	}
.tags-lines {
	list-style-type: none;	
	margin-top: 20px;
	margin-left: 15px;
	}
.tags-line {
	display: block;	
	height: 70px;
	margin-top: 10px;
	color:#666;	
	}
.tags-line a:hover {
	color:#C33;
	text-decoration: none;	
	}
.tags-title {
	width: 50px;
	height: 70px;	
	}
.tags {
	list-style-type: none;
	margin-left: 60px;
	margin-top: -80px;
	display: block;
	
}
.tags.active {
	color: #F00;	
	}
.tags-item {
	display: block;
	width: 50px;
	height: 30px;
	text-align:center;
	line-height:40px;
	float: left;
}
.movies-page {
	margin: 0 auto;
	text-align:center;	
	}
.pagination {
	margin-bottom: 20px;
	}