@charset "utf-8";
.header-placeholder {
	width: 100%;
	height: 500px;
	margin-top: 25px;
	position: absolute;	
	}
.banner {
	background-image: url(../img/movie_information/bg.jpg);	
	width: 100%;
	height: 400px;
	position:absolute;	
	}
.wrapper {
	margin: 0 auto;
	width: 1280px;
	}
.celeInfo-left {
	margin-top: 110px;
	margin-left: 190px;	
	height: 340px;
	width: 239px;
	}
.avatar-shadow {
	width: 230x;
	height: 322px;
	border: thick solid #FFF;		
	}
.avatar {
	width: 230x;
	height: 322px;	
	}
.celeInfo-right {
	margin-top: -350px;
	margin-left: 470px;	
	}
.movie-container {
	height: 170px;	
	}
.name {
	font-size: 28px;
	font-weight: bold;
	color: #FFF;		
	}
.ellipsis {
	color: #FFF;
	font-size: 14px;
	list-style-type: none;
	line-height: 25px;		
	}
.ename {
	margin-top: -7px;
	margin-bottom: 10px;
	font-size: 20px;	
	}

.wish-bg {
	width: 150px;
	height: 40px;
	background-color: #E9E9E9;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;	
	color: #666;
	filter:alpha(Opacity=80);-moz-opacity:0.7;opacity: 0.7;	
	}